@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text-white);
  --color-text-black: var(--text-black);
  --color-text-hover: var(--text-hover);
  --color-text-hover-black: var(--text-hover-black);
  --color-background-gray: var(--background-gray);
  --color-background-gray-2: var(--background-gray-2);
  --color-background-white: var(--color-background-white);
  --color-purple: var(--color-purple);
  --color-purple-hover: var(--color-purple-hover);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-show: show 3s ease 0.8s 1 forwards;
}

:root {
  --radius: 0.625rem;
  --background: #ababab;
  --background-gray: #eaeaea;
  --background-hover-gray: #414141;
  --background-gray-2: #f7f7f7;
  --color-background-white: #ffffff;
  --color-purple: #876fff;
  --color-purple-hover: #876fc9;
  --text-white: #ffffff;
  --text-black: #000000;
  --text-hover: #a996fe;
  --text-hover-black: #545454;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #dddddd;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #414141;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-00%, -0%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-0%, -0%) scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-spotlight {
  animation: var(--animate-spotlight);
  display: inline-block;
  transform-origin: center;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-text;
    
  }

  .wrapper {
    @apply mx-auto px-8;
  }

  .error_message{
    @apply border-2 border-red-600 text-white bg-red-400 p-2 rounded-md text-center my-2
  }

  h1 {
    @apply md:text-4xl xl:text-5xl;
    font-family: var(--font-inter), sans-serif;
  }

  h2 {
    @apply text-3xl font-light;
    font-family: var(--font-inter), sans-serif;
  }

  h3 {
    @apply text-xl;
    font-family: var(--font-inter), sans-serif;
  }

  p {
    @apply text-black/70;
    font-family: var(--font-geist);
  }

  span {
    font-family: var(--font-inter)
  }

  .border {
    @apply border-[1px] border-background-gray;
  }
}
